.product-detail {
  margin-bottom: 5rem;
  width: 100%;
  max-width: 500px;
  .card {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
  }
  .detail {
    & > * {
      margin-bottom: 1rem;
    }
    .badge {
      background-color: var(--color-danger);
      color: #fff;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 3px;
    }
    p b {
      color: var(--dark-blue);
    }
  }
}

.group {
  border: 1px solid var(--dark-blue);
  padding: 5px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.mywidth {
  width: 100px;   
}
.save{
    background-color: #10b0e5; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.cancel{
  background-color: #3b484d; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}